@using Microsoft.AspNetCore.Identity

<!--For using folders.-->
@using myWebApp.Pages.Product;
@using myWebApp.Pages.Account;

@inject SignInManager<ApplicationDbUser> SignInManager
@inject UserManager<ApplicationDbUser> UserManager

<!--Check if a User is logged in-->
@if (SignInManager.IsSignedIn(User))
{
    <a asp-page="/Account/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}
