@page
@model myWebApp.Pages.Chat.Server.ChatServerModel
ChatHub <br />
Your Name: <input type="text" id="userInput" />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            Costumer 1:
            <br />
            <textarea style="resize:none" rows="15" cols="50" id="TextArea1" readonly=""></textarea>
            <br />
            Message: <input type="text" id="messageInput1" />
            <br />
            <input type="button" id="SendButton1" value="Send Message" />
        </div>
        <div class="col-6">
            Costumer 2
            <br />
            <textarea style="resize:none" rows="15" cols="50" id="TextArea2" readonly=""></textarea>
            <br />
            Message: <input type="text" id="messageInput2" />
            <br />
            <input type="button" id="SendButton2" value="Send Message" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SupportChat.js"></script>