@page
ChatHub <br />
Your Name: <input type="text" id="userInput" /><br />
Costumer 1
<div class="container">

    <div class="row">
        <div class="col-6">
            <br />
            Message: <input type="text" id="messageInput1" />
            <br />
            Group: <input type="text" id="groupInput1" />
            <input type="button" id="SendButton1" value="Send Message" />
            <input type="button" id="ConnectButton1" value="Connect" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <textarea rows="4" cols="50" id="TextArea1"></textarea>

            <ul id="List1"></ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <br />
            Message: <input type="text" id="messageInput2" />
            <br />
            Group: <input type="text" id="groupInput2" />
            <input type="button" id="SendButton2" value="Send Message" />
            <input type="button" id="ConnectButton2" value="Connect" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="List2"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SupportChat.js"></script>