@page
@model myWebApp.Pages.Chat.Server.ChatServerModel
@{
    ViewData["Title"] = "ChatHub";
}
<!-- Google Tag Manager -->
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer','GTM-T8DXX6V');</script>
<!-- End Google Tag Manager -->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DXX6V"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-6">
        <h5>Start a chat session</h5>
        <hr />
        <div class="form-group">
            <label>Support name:</label>
            <input type="text" id="userInput" class="form-control" />
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label class="col-xs-12">Chat Group 1:</label>
                    <textarea style="resize:none" rows="15" cols="50" id="TextArea1" readonly="" class="form-control" type="text"></textarea>
                    <br />
                    <label class="col-xs-12">Message:</label>
                    <input type="text" id="messageInput1" class="form-control" />
                    <hr />
                    <button type="submit" class="btn btn-primary" id="SendButton1">Send Message</button> 
                </div>

                <div class="col-xs-12 col-sm-6">    
                    <label class="col-xs-12">Chat Group 2:</label>          
                    <textarea style="resize:none" rows="15" cols="50" id="TextArea2" readonly="" class="form-control" type="text"></textarea>
                    <br /> 
                    <label class="col-xs-12">Message:</label>
                    <input type="text" id="messageInput2" class="form-control" />
                    <hr />
                    <button type="submit" class="btn btn-primary" id="SendButton2">Send Message</button>
                </div>
                <hr />
            </div>
        </div>  
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SupportChat.js"></script>