@page
@model myWebApp.Pages.Chat.Client.ChatClient
@{
    ViewData["Title"] = "Welcome to the Customersupport";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Start a chat session</h5>
            <hr />
            <div class="form-group">
                <label>Username</label>
                <input id="userInput" class="form-control" />
            </div>
            <div class="form-group">
                <label>Message</label>
                <input type="text" id="messageInput" class="form-control" />
            </div>
            <div class="form-group">
                <label>Group</label>
                <input id="groupInput" class="form-control" />
            </div>
            <hr />
            <button type="submit" class="btn btn-primary" id="connectButton">Connect</button>
            <button type="submit" class="btn btn-primary" id="sendButton">Send Message</button>
        </form>

        <br />

        <form>
            <h5>Chat log</h5>
            <hr />
            <div>
                <ul id="messagesList"></ul>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>