@page
@using System.Xml
@model myWebApp.Pages.Chat.ChatServer
@{
    ViewData["Title"] = "ChatServer";
}

<h3>@ViewData["Title"]</h3>

<p>Welcome to the server!</p><br/>
Chathistory: 
<br/>
<textarea readonly="readonly" rows="15" cols="100">
@foreach (var chatMsg in Model.testlist)
{
    @chatMsg
    
}
</textarea>
<br/>
<form method="post">
    <input type="submit" value="Start Server"/>
</form>