@page
@model ManageRoles
@{
    ViewData["Title"] = "Manage Users & Roles";
}

<h3>@ViewData["Title"]</h3>

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result
<h5>All Users & Roles in database</h5>
<hr/>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in @Model.Users)
            {
                <tr>
                    <td>
                        @user 
                    </td>
                    <td>
                        @string.Join(", ", Model.GetRolesForUser(user))
                    </td>
                </tr>
            }
        </tbody>
    </table>
<hr/>
<br/>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Assign/delete selected user to/from role</h5>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.User"></label>
                <select asp-for="Input.User" asp-items="Model.listUser" class="form-control"></select>
                <span asp-validation-for="Input.User" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <select asp-for="Input.RoleFromlist" asp-items="Model.listRole" class="form-control"></select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <h5>Create new role</h5>
            <h6>Usage of this will create a new role despite one being selected from rolelist.</h6>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <input asp-for="Input.Role" class="form-control" />
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <hr />
                <button type="submit" class="btn btn-primary">Assign</button>
                <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
            <hr />
            <br/>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}